<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicacion 2</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">  
    <script src="https://kit.fontawesome.com/b220f12e97.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="col-6 offset-md-2 mt-2">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="mx-3" href="/">Home</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <div class="col-6 offset-md-2">

            {% if messages %} {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
            </div>
            {% endfor %} {% endif %}
            <br>
            <h3>Agrega un Viaje</h3>
            <form action="{% url 'insertar' %}" method="POST">
                {% csrf_token %}
                <label for="destino">Destino:</label>
                <input type="text" name="destino" id="destino" class="form-control">
                <br>
                <label for="descripcion">Descripcion:</label>
                <input type="text" name="descripcion" id="descripcion" class="form-control">
                <br>
                <label for="datestart">Fecha comienzo:</label>
                <input type="date" name="datestart" id="datestart" class="form-control">
                <br>
                <label for="dateend">Fecha Termino:</label>
                <input type="date" name="dateend" id="dateend" class="form-control">
                <br>
                <div class="justify-content-md-end">
                    <input type="submit" value="Agregar Viaje" class="btn btn-outline-success p-2 mb-5">
                </div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>