<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicacion</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b220f12e97.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="col-6 offset-md-2 mt-2">
            <a class="d-grid gap-2 d-md-flex justify-content-md-end" href="/logout">Logout</a>
        </div>
        <div class="col-6 offset-md-2 mt-2">
            <h2>Hola, {{request.session.user_name}}!</h2>
        </div>
        <div class="header">

        </div>
        <br>
        <div class="container">
            <div class="row" >
                <!--Other books with reviews-->
                <div class="col-6 offset-md-2">
                    <h4 class="mb-3 ">Su Programa de viaje</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Destino</th>
                                <th scope="col">Fecha Comienzo</th>
                                <th scope="col">Fecha Termino</th>
                                <th scope="col">Descripcion</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for viaje in viajes|slice:":2" %}
                            <tr>
                                <th><a href="/travels/destination">{{ viaje.destino }}</a>                                </th>
                                <td>{{ viaje.travel_start }}</td>
                                <td>{{ viaje.travel_end }}</td>
                                <td>{{ viaje.descripcion }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>                   
                    </div>
                </div>
            </div>
            <div class="col-6 offset-md-2 mt-2">
                <a class="d-grid gap-2 d-md-flex justify-content-md-end" href="/travels/add">Agrega un viaje</a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js " integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns " crossorigin="anonymous "></script>

</body>

</html>
